body {
    margin: 0 50px;
    background-color: #212529;
    font-family: 'Inter', sans-serif;
}

.nav {
    position: fixed;
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #212529;

}

.logo a {
    text-decoration: none;

}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.list li {
    list-style-type: none;

}

.list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
}

.list li a:hover {
    color: #FFB742;
}

/* Section info  */

.info {
    padding-top: 12rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;

}

.info a {
    color: #FFB742;
}

.name {
    font-size: 32px;
}

.prof {
    font-size: 48px;
    padding-top: 1rem;
}

.about {
    font-size: 24px;
    padding: 2rem 0%;

}

/* Section cards */

.cards {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;

}

.card {
    width: 30%;
    height: 120px;
    background-color: #292B2E;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    transition: 0.5s;

}

.icon {
    width: 64px;
    height: 64px;
}

.number {
    font-size: 32px;
    color: #FFB742;
    margin-bottom: 1rem;
    font-weight: 900;
}

.text {
    font-size: 16px;
}

.card:hover {
    background-color: #FFB742;
    cursor: pointer;
}

.card:hover .number,
.card:hover .text {
    color: black;
}

.card:hover path {
    fill: black;
}

/* Section about me */

.about_me {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
    color: white;

}

h2 {
    font-size: 48px;
    color: #FFFFFF;
}

.text_about {
    font-size: 16px;
    line-height: 2rem;
    padding-bottom: 3rem;
}

.description {
    height: 400px;
    padding-top: 5rem;
}

/* Section Portfolio */

.portfolio {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav_bottom {
    list-style-type: none;
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.nav_bottom a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.nav_bottom li {
    min-width: 80px;
    text-align: center;
    padding-top: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.nav_bottom li:hover {
    background-color: #FFB742;
}

.works>img {
    margin: 0.5rem;

}

footer {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #1C1C1C;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;


}

.colum1 {
    width: 250px;
    line-height: 2rem;
}

h3 {
    color: #FFB742;
}

.prof_footer {
    color: #D4D4D4;
}


h4 {
    color: #FFFFFF;
}

.list_footer li a {
    text-decoration: none;
    line-height: 2rem;
    color: #7B7B7B;
    text-align: left;
}

.list_footer {
    list-style-type: none;
    padding-left: 0;

}

.social li a {

    text-decoration: none;
    line-height: 2rem;
    color: #7B7B7B;
    text-align: left;
}

.social {
    list-style-type: none;
    padding-left: 0;


}

.colum4 {
    width: 300px;
    line-height: 2rem;
}

.email {
    color: #7B7B7B;
}